<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="cx's website">
    <meta name="author" content="陈昕 <coccuscc@gmail.com>">
    <link href="/static/images/favicon.ico" rel="icon">
    <link href="/static/libs/metisMenu.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/libs/font-awesome.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        p.time {color: #808080}
        body {
            padding-top: 50px;
            background-image: url('/static/images/background.jpg');
        }
        a.tag {
            color: #808080;
            margin-left: 10px;
        }
        a.catalog {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
        <{block name = style}><{/block}>
    </style>
    <title><{block name=title}><{/block}></title>
</head>


<body>
    <!--顶部栏-->
    <{include 'main/templates/navbar.html'}>
    <br><br><br>
    <!--侧边栏-->
    <div class="row">
        <{include 'main/templates/sidebar.html'}>
    <!--文章标题-->
        <{block name=body}><{/block}>

    <!--分页栏-->
        <{block name=navigation}><{/block}>
        <br>
    </div>
    <br>

    <!--底部栏-->
    <{include 'main/templates/footer.html'}>
    <script src="/static/libs/jquery.min.js"></script>
    <script src="/static/libs/bootstrap.min.js" ></script>
    <script src="/static/libs/bootstrap-paginator.min.js"></script>

<script>

$(document).ready(function(){
    dropdownOpen();
    checkuser();
});

function dropdownOpen() {

    var dropdownLi = $('li.dropdown');

    dropdownLi.mouseover(function() {
        $(this).addClass('open');
    }).mouseout(function() {
        $(this).removeClass('open');
    });
};

function checkuser() {
    $.ajax({
        url: "/coc/user/checkUser",
        success: function(data) {
            var uid = data.data;
            if ( uid != null) {
                $("#login").html("");
                $("#register").html("");
            }
        },
        error: function() {
            $("#login").html("");
            $("#register").html("");
        }
    });
}
</script>
<{block name=jquery}><{/block}>

</body>

</html>