<div class="col-md-2 col-md-offset-1">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <{$config.1.description}></h3>
    </div>
    <div class="panel-body">
        <p><{$config.1.content}><br><br><br><br><br><br><br><br></p>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</h3>
    </div>
    <div class="panel-body">
        <form action="https://coccuscc.cn/news/view" method="get" accept-charset="utf-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="关键字" name="title" value="" required>
            <span class="input-group-btn">
                <button class="btn btn-default" formaction="https://coccuscc.cn/news/view" type="submit">全文搜索</button>
            </span>
        </div>
        </form>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 文章分类</h3>
    </div>
    <div class="panel-body">
        <{foreach $catalogs as $v}>
        <a class="btn btn-default catalog" href="<{$v.url}>" role="button"><{$v.c_name}></a>
        <{/foreach}>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <{$config.2.description}></h3>
    </div>
    <div class="panel-body">
        <p class="text-muted">
        <{$config.2.content}>
        </p>
    </div>
</div>
<br>
</div>
