<div class="col-md-2 col-md-offset-1">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 网站公告</h3>
    </div>
    <div class="panel-body">
        <p>预祝大家新年快乐！<br><br><br><br><br><br><br><br></p>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</h3>
    </div>
    <div class="panel-body">
        <form action="https://coccuscc.cn/news/view" method="get" accept-charset="utf-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="关键字" name="title" value="" required>
            <span class="input-group-btn">
                <button class="btn btn-default" formaction="https://coccuscc.cn/news/view" type="submit">全文搜索</button>
            </span>
        </div>
        </form>
    </div>
</div>
<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 联系我们</h3>
    </div>
    <div class="panel-body">
        <p class="text-muted">
        微信: cx10346666<br>
        QQ: 1034167213<br>
        mail: coccuscc@gmail.com<br>
        Github: <a href="https://github.com/Coccuscc/">Coccuscc</a>
        </p>
    </div>
</div>
<br>
</div>
