<{extends 'admin/templates/base.html'}>

<{block name = css}>
    <link href="https://lib.baomitu.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
    <style>
        .data-table th, .data-table td { text-align: center; vertical-align: middle!important; }
    </style>
<{/block}>

<{block name = title}>用户管理<{/block}>

<{block name = body}>
    <table id="list" class="data-table"></table>
<{/block}>

<{block name = script}>
    <script src="https://lib.baomitu.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://lib.baomitu.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<{/block}>

<{block name = js}>
    <script>
        var tempTableParams;
        $('#list').bootstrapTable({
            queryParamsType : 'undefined',
            queryParams: function queryParams(params) {
                var param = {
                    page: params.pageNumber,
                    size: params.pageSize
                };
                tempTableParams = params;
                return param;
            },
            ajax: function(request) {
                $.ajax({
                    url: "/coc/user/getUserList",
                    type: "GET",
                    data: {
                        "page": tempTableParams.pageNumber,
                        "size": tempTableParams.pageSize
                    },
                    dataType: "json",
                    success: function(data) {
                        request.success({
                            total: data.count,
                            rows: data.data,
                        });
                    }
                });
            },
            cache: false,
            pageSize: 10,
            showRefresh: true,
            striped: true,
            pagination: true,
            paginationLoop: false,
            pageList: [10, 15, 20, 'All'],
            sidePagination: 'server',
            columns: [
                {
                    field: 'uid',
                    title: '用户ID',
                    width: '8%'
                }, {
                    field: 'username',
                    title: '用户名称'
                }, {
                    field: 'email',
                    title: '电子邮件',
                }, {
                    field: 'nickname',
                    title: '昵称',
                }, {
                    field: 'locks',
                    title: '锁定计数',
                    width: '6%'
                }, {
                    field: 'state',
                    title: '状态',
                    width: '8%'
                }, {
                    field: 'created',
                    title: '创建时间',
                    width: '15%'
                }, {
                    field: 'updated',
                    title: '最后更新时间',
                    width: '15%'
                }, {
                    field: 'Button',
                    title: '操作',
                    width: '10%',
                    events: 'operateEvents',
                    formatter: operateFormatter
                }
            ]
        });

        window.operateEvents = {
            'click #delete-row': function(e, value, row, index) {  // 删除记录操作
                layer.confirm('请确认是否删除此记录？', {
                    btn: ['确认','取消']
                }, function() {
                    var uid = row.uid;
                    $.ajax({
                        url: "/coc/user/deleteUser",
                        dataType: "JSON",
                        type: "POST",
                        data: {
                            "uid": uid
                        }, success: function(data) {
                            if ( data.ret == 0 ) {
                                layer.msg('已成功删除！');
                            } else {
                                layer.msg('删除失败！请检查数据是否存在！');
                            }
                            $('#list').bootstrapTable('refresh');
                        }, error: function() {
                            layer.msg("连接服务器过程中出现故障！请重试！");
                        }
                    });
                }, function() {
                    layer.msg('已取消该删除操作！');
                });
            },
            'click #edit-row': function(e, value, row, index) {  // 修改记录操作
                var uid = row.uid;
                $(location).attr('href', '/coc/user/edit?uid='+uid);
            }
        };

        function operateFormatter(value, row, index) {
            return [
                '<button id="edit-row" type="button" class="btn btn-warning btn-xs">编辑</button> ',
                '<button id="delete-row" type="button" class="btn btn-danger btn-xs">删除</button>'
            ].join('');
        }
    </script>
<{/block}>