<{extends '../pages/page.html'}>
<{block name=title}>创建文档<{/block}>
<{block name=article_title}>
    <br>
    <div class="col-md-6 col-md-offset-1">
        <form action="https://coccuscc.cn/news/create" method="post" accept-charset="utf-8">
            <br>
            <div class="form-grop">
                <label for="title">文章标题</label>
                <input class="form-control input-lg" type="input" name="title" /><br>
            </div>
            <div class="form-grop">
                <label for="text">文章内容</label>
                <textarea class="form-control" rows="30" name="text"></textarea><br>
            </div>
            <p class="text-right"><input class="btn btn-success btn-lg" type="submit" name="submit" value="发表文章" /></p>
        </form>
    </div>
<{/block}>
