<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>CX&#39;Blog-后台管理系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/images/favicon.ico" rel="icon">
    <link href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">
    <link href="/static/themes/sbadmin2/sbadmin2.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">    <link href="https://lib.baomitu.com/layer/2.3/skin/layer.css" rel="stylesheet">
    <{block name = css}><{/block}>
</head>

<body>
<div id="wrapper">

    <{include 'admin/templates/navbar.html'}>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-header"><{block name=title}><{/block}></h3>

                    <{block name=body}><{/block}>

            </div>
        </div>
    </div>
</div>
<br>
    <{include 'admin/templates/copyright.html'}>


<script src="/static/libs/jquery.min.js"></script>
<script src="https://lib.baomitu.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://lib.baomitu.com/metisMenu/2.7.0/metisMenu.min.js"></script>
<script src="/static/themes/sbadmin2/sbadmin2.min.js"></script>
<script src="https://lib.baomitu.com/layer/2.3/layer.js"></script>
<{block name = script}><{/block}>

</body>

</html>
<script>
    $(document).ready(function(){
    dropdownOpen();
});

function dropdownOpen() {

    var $dropdownLi = $('li.dropdown');

    $dropdownLi.mouseover(function() {
        $(this).addClass('open');
    }).mouseout(function() {
        $(this).removeClass('open');
    });
};
</script>
<{block name = js}><{/block}>
