<nav class="navbar navbar-default copyright">
    <ul class="nav copyright-right">
        <p class="copyright-text">
            Copyright &copy; 2018
            <script>
                var currentYear = new Date().getFullYear();
                if ( currentYear > 2018 ) {
                    document.write('- '+currentYear);
                }
            </script>
            All Rights Reserved.备案号：<a href="http://www.miit.gov.cn/">粤ICP备18093628号</a>
        </p>
    </ul>
</nav>
