<div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="/coc"><i class="fa fa-dashboard fa-fw"></i> 后台总览</a></li>
        <li>
            <a href="#"><i class="fa fa-file-text fa-fw"></i> 文章管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="/coc/post/list">文章列表</a></li>
                <li><a href="/coc/post/add">添加文章</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-folder fa-fw"></i> 目录管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="/coc/category/list">目录列表</a></li>
                <li><a href="/coc/category/add">添加目录</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-tags fa-fw"></i> 标签管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="/coc/tag/list">标签列表</a></li>
                <li><a href="/coc/tag/add">添加标签</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-users fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="/coc/user/list">用户列表</a></li>
                <li><a href="/coc/user/add">创建用户</a></li>
            </ul>
        </li>
        <li>
            <a href="/coc/setting"><i class="fa fa-cogs fa-fw"></i> 系统配置</a>
        </li>
    </ul>
</div>
</div>
