<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/layer/2.3/skin/layer.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-10 col-md-offset-2">
        <script id="container" name="content" type="text/plain"><{$postinfo.content}></script>
    </div>
    <div class="col-md-offset-10 col-sm-offset-10">
        <button id="save" class="btn btn-danger" type="button">确认并保存修改</button>
    </div>

<script src="/static/libs/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/metisMenu/2.7.0/metisMenu.min.js"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
<script src="/static/libs/ueditor/ueditor.config.js"></script>
<script src="/static/libs/ueditor/ueditor.all.js"></script>
</body>

</html>

<script>
var ue = UE.getEditor('container', {
    toolbars: [
        ['fullscreen', 'source', '|', 'undo', 'redo', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'horizontal', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
        ['insertcode', 'fontfamily', 'fontsize', '|', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', '|', 'link', 'unlink', '|', 'emotion', 'spechars', '|', 'blockquote', 'pasteplain', '|', 'date', 'time', '|', 'preview', 'print']
    ]
});

var content;


$("#save").click(function() {
    var postId = "<{$postinfo.a_id}>";
    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    ue.ready(function() {
        content = ue.getContent();
    });
    // parent.layer.iframeAuto(index);

    if ( content == "") {
        layer.msg('请输入文章内容！');
    } else {
        layer.confirm('请确认是否保存修改？', {
        btn: ['确认','取消']
        }, function() {
            $.ajax({
                url: "/coc/post/changePostContent",
                type: "POST",
                data: {
                    "a_id": postId,
                    "content": content
                },
                dataType: "json",
                success: function(data){
                    var ret = data.ret;
                    if(ret == 0) {
                        layer.msg('操作成功！', {
                            time: 1500
                        }, function() {
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg('操作失败！请重试');
                    }
                },
                error: function() {
                    layer.msg("请求失败！");
                }
            });
        },function() {
            layer.msg('已取消');
        });
    }
});
</script>