<{extends 'main/templates/base.html'}>

<{block name = title}><{$postinfo.title}>-<{$postinfo.author}><{/block}>

<{block name = style}>
p.article {
    font-size: 18px;
    font-family: SimSun;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}
<{/block}>

<{block name = body}>
<div class="col-md-8">
    <ol class="breadcrumb" style="font-size: large;">
        <li><a href="/">首页</a></li>
        <li class="active"><{$category.parentinfo.c_name}></li>
        <li><a href="/main/category?s_id=<{$category.cataloginfo.type_id}>&catalog=<{$category.cataloginfo.type}>"><{$category.cataloginfo.type}></a></li>
        <li class="active">正文</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="text-center"><{$postinfo.title}></h2>
            <h3 class="text-right" style="margin-right: 80px;">——<{$postinfo.author}></h3><br>
            <{$postinfo.content}>
        </div>
    </div>
</div>
<{/block}>
