<{extends 'main/templates/base.html'}>

<{block name = title}>首页<{/block}>
<{block name = body}>
<div class="col-md-8">
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><a href="#">文章标题1111</a></h3>
            <hr><p>这是第一篇文章……</p>
            <br><br><br><br>
            <ul class="list-inline">
                <li class="navbar-left">
                    <p class="time">最后更新时间：2019-01-21 11:17:10</p>
                </li>
                <li class="navbar-right">
                    <p class="text-right"><button class="btn btn-default" type="button"> 阅读 <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button></p>
                </li>
            </ul>
        </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><a href="#">文章标题2</a></h3>
            <hr><p>这是第二篇文章……</p>
            <br><br><br><br>
            <ul class="list-inline">
                <li class="navbar-left">
                    <p class="time">最后更新时间：2019-01-21 11:17:10</p>
                </li>
                <li class="navbar-right">
                    <p class="text-right"><button class="btn btn-default" type="button"> 阅读 <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button></p>
                </li>
            </ul>
        </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><a href="#">文章标题3</a></h3>
            <hr><p>这是第三篇文章……</p>
            <br><br><br><br>
            <ul class="list-inline">
                <li class="navbar-left">
                    <p class="time">最后更新时间：2019-01-21 11:17:00</p>
                </li>
                <li class="navbar-right">
                    <p class="text-right"><button class="btn btn-default" type="button"> 阅读 <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button></p>
                </li>
            </ul>
        </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><a href="#">文章标题4</a></h3>
            <hr><p>这是第四篇文章……</p>
            <br><br><br><br>
            <ul class="list-inline">
                <li class="navbar-left">
                    <p class="time">最后更新时间：2019-01-21 11:17:10</p>
                </li>
                <li class="navbar-right">
                    <p class="text-right"><button class="btn btn-default" type="button"> 阅读 <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button></p>
                </li>
            </ul>
        </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="title"><a href="#">文章标题5</a></h3>
            <hr><p>这是第五篇文章……</p>
            <br><br><br><br>
            <ul class="list-inline">
                <li class="navbar-left">
                    <p class="time">最后更新时间：2019-01-21 11:17:00</p>
                </li>
                <li class="navbar-right">
                    <p class="text-right"><button class="btn btn-default" type="button"> 阅读 <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button></p>
                </li>
            </ul>
        </div>
    </div>
    </div>
<{/block}>

<{block name = navigation}>
<div class="col-md-offset-5">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
            <li class="active"><span>1 <span class="sr-only"></span></span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<{/block}>
